/*GENERALI*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.whiteFont{color: white;}
.redFont{color: red;}
.GreenFont { color: green;}

.Flex{display: flex;}
.FEndContent{justify-content: flex-end;}
.FWrap{flex-wrap: wrap;}
.FJcontent{justify-content: center;}
.FJcontentB {justify-content: space-between;}
.FAlingICenter {align-items: center;}
.FDirectionC {flex-direction: column;}
.FalignCStretch {align-content: stretch;}

.w100 {width: 100%;}
/*HEADER*/
header{background-color: black;}
.ContainerHeader{
    width: 100%;
    height: 70px;
}
.BOpacity{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-top: 3px;
}
/*MAIN*/
main{
    background-color: black;
    width: 100%;
    height: calc( 100vh - 170px);
}
.ContainerMain{
    width: 90%;
    height: calc( 100vh - 180px );
    margin: 0 auto;
    padding-bottom: 20px;
    overflow-y: scroll;
}
.BoxImg{
    /*height: calc(100% / 5 );*/
    width: calc(100% / 7);
    padding: 4px;
}
img{
    width: 100%;
    height: 100%;
}
.Relative{ position: relative;}
.Absolut { position: absolute;}
.vignetta{ 
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
}
/*FOOTER*/
footer{ background-color: rgb(51, 49, 49);}
.ContainerFooter{
    width: 100%;
    height: 100px;
}
.MarginFooter{
    margin: 4px;
}
.BOpacity1{
    background-color: rgba(255, 255, 255, 0.3);
}